{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>wasting time with {{ user.get_full_name }}</h4>
                            <h2>{{ title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Banner Ends Here -->



    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% if not articles %}
                                {% if request.resolver_match.url_name == 'search_articles' %}
                                    <h1>oh sorry! we have no post with {{ request.GET.q }} </h1>
                                {% else %}
                                    <h1>oh sorry! we have no post with that tag</h1>
                                {% endif %}

                            {% else %}
                                {% for article in articles %}
                                    <div class="col-lg-6">
                                        <div class="blog-post">
                                            <div class="blog-thumb">
                                                <img src=" {{ article.image.url }} " alt="{{ article.title }}">
                                            </div>
                                            <div class="down-content">


                                                <a href="{{ article.get_absolute_url }}"><h4>{{ article.title }}</h4>
                                                </a>
                                                <ul class="post-info">
                                                    <li><a href="#">{{ article.author.username }} </a></li>
                                                    <li><a href="#">{{ article.created }}</a></li>
                                                    <li><a href="#">12 Comments</a></li>
                                                </ul>
                                                <p>{{ article.body|slice:":185"|truncatewords:60 }}...</p>
                                                <div class="post-options">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-tags"></i></li>
                                                                {% for articles1 in article.category.all %}
                                                                    <li><a href="">{{ articles1 }}</a>,</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>


                            {% include 'includes/sidebar.html' %}
                            {% if articles.has_other_pages %}
                            <div class="col-lg-12">
                                <ul class="page-numbers">
                                {% if articles.has_previous %}
                                <li><a href="?page={{ articles.previous_page_number }}{% if request.get.q %}&q={{ request.get.q }}{% endif %}"><i class="fa fa-angle-double-left"></i></a></li>
                                    {% endif %}

                                {% for i in articles.paginator.page_range %}
                                    {% if articles.number == i %}
                                        <li class="active" ><a href="?page={{ i }}{% if request.get.q %}&q={{ request.get.q }}{% endif %}">{{ i }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ i }}{% if request.get.q %}&q={{ request.get.q }}{% endif %}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if articles.has_next %}
                                    <li><a href="?page={{ articles.next_page_number }}{% if request.get.q %}&q={{ request.get.q }}{% endif %}"><i class="fa fa-angle-double-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
{% endblock %}